@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: montserrat;
}


  
  .card-container {
    perspective: 1000px; /* Para dar un efecto 3D */
  }
  
  .card-container img {
    backface-visibility: hidden; /* Oculta el reverso durante la rotación */
    transform-style: preserve-3d; /* Necesario para la animación 3D */
  }
  
  .card {
    /* Esto ajusta el tamaño de las cartas al ancho de la pantalla, manteniendo la relación de aspecto */
    width: 16vw; /* Ajusta este valor según lo que consideres apropiado */
    max-width: 130px;
    aspect-ratio: 2 / 2.8; /* Esto asegura que el alto sea el doble que el ancho */
    object-fit: cover; /* Hace que la imagen cubra completamente el área sin distorsionarse */
  }
  

  @layer utilities {
    .perspective-1000 {
      perspective: 1000px;
    }
  
    .transform-style-3d {
      transform-style: preserve-3d;
    }
  
    .backface-hidden {
      backface-visibility: hidden;
    }
  
    .rotate-y-180 {
      transform: rotateY(180deg);
    }
  }

  .bg-radial-degradado {
    background: radial-gradient(circle, #5B7661, #718f78);
  }
  .bg-degradado {
    background: radial-gradient(circle, #7e4a4a, #985858);
  }
  
  @keyframes rotar180 {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(180deg);
    }
    70% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotar {
    animation: rotar180 5s ease-out infinite; /* Rota cada 2 segundos, infinitamente */
  }
  