@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: montserrat;
    user-select: none;
    scrollbar-width: none;
}


  
  .card-container {
    perspective: 1000px; /* Para dar un efecto 3D */
  }
  
  .card-container img {
    backface-visibility: hidden; /* Oculta el reverso durante la rotación */
    transform-style: preserve-3d; /* Necesario para la animación 3D */
  }
  
  .card {
    /* Esto ajusta el tamaño de las cartas al ancho de la pantalla, manteniendo la relación de aspecto */
    /* width: 16vw; Ajusta este valor según lo que consideres apropiado */
    /* max-width: 140px; */
    aspect-ratio: 8/11; /* Esto asegura que el alto sea el doble que el ancho */
    object-fit: cover; /* Hace que la imagen cubra completamente el área sin distorsionarse */
  }
  

  @layer utilities {
    .perspective-1000 {
      perspective: 1000px;
    }
  
    .transform-style-3d {
      transform-style: preserve-3d;
    }
  
    .backface-hidden {
      backface-visibility: hidden;
    }
  
    .rotate-y-180 {
      transform: rotateY(180deg);
    }
  }

  .bg-radial-degradado {
    background: radial-gradient(circle, #718f78, #7CA084);
  }
  .bg-degradado {
    background: radial-gradient(circle, #7e4a4a, #985858);
  }
  
  @keyframes rotar180 {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(180deg);
    }
    70% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotar {
    animation: rotar180 5s ease-out infinite; /* Rota cada 2 segundos, infinitamente */
  }
  


  /* loader */

.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #7CA084;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}
    